nav {
	background-color: rgb(255, 255, 255);
	display:flex;
	justify-content: space-between;
	padding: 10px 0;
	width: 100%;
	font-family: Helvetica;
	font-size: 16px;
	border-bottom: solid black 1px;
	line-height: 21px;
	vertical-align: baseline;
	margin-bottom: 0px;
	align-items: center;
	height: 45px;

	a:hover {
		color: #009e74;
	}

	.leftnavbar {
		display: inline-flex;
		justify-content: flex-start;
		flex: 1;

		a {
			margin-left: 30px;
			padding-right: 0px;
			padding-left: 0px;
			font-size: 14px;
			font-weight: lighter;
		}
	}

	.midNavbar {
		display: inline-flex;
		flex: 1;
		justify-content: center;
		padding-top: 3px;

		h2 {
			font-family: 'Baloo Bhaina', cursive;
			font-size: 26px;
			color: #034751;
			text-shadow: 2px 1px #034751;
			margin-bottom: 0px;
			width: 180px;
			font-weight: 900;
		}
	}

	.rightNavbar {
		flex: 1;
		display: inline-flex;
		justify-content: flex-end;

		a {
			margin-right: 30px;
			padding-right: 0px;
			padding-left: 0px;
			font-size: 14px;
			font-weight: lighter;
		}

	}
}




// .right-nav > ul > li {
// 	margin-left: 5px;
// 	cursor: pointer;
// }
//
// .right-nav > ul > li:last-of-type {
// 	position: relative;
// 	padding: 7px 9px;
// 	transition: background-color 0.3s;
// }
//
// .left-nav > ul > li:hover,
// .right-nav > ul > li:last-of-type:hover {
// 	background-color: $lightest-gray;
// }
//
// .left-nav span {
// 	margin-left: 10px;
// }
//
// .right-nav i {
// 	font-size: 16px;
// }

// @media all and (max-width: 1000px) {
//   .right-nav button {
//   	display: none;
//   }
//   .left-nav > ul > li {
//   	margin: 0;
//   }
//   .main-nav {
//   	padding: 20px 0;
//   }
// }
