
.ProjectIndexUL {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;

  li {
    width: 400px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 35px;

    .ProjectItemView {
        min-width: 300px;
        width: 100%;
        border: solid lightgrey 1px;
        height: 500px;
        align-content: center;
        border-radius: 3px;

        img {
          height: 45%;
          width: 100%;
          object-fit: cover;
        }

        .header-explore-project-item {
          margin-left: 15px;
          margin-right: 20px;
          border-bottom: solid #009e73 2px;
          margin-bottom: -10px;
          height: 95px;

          h4 {
            font-size: 20px;
            font-weight: 200;
          }

          h6 {
            margin-top: -10px;
            font-size: 14px;
            font-weight: 100;
          }

        }

        .botton-explore-project-item {
          margin-left: 15px;
          margin-right: 20px;
          display: flex;
          flex-direction: column;


          h3 {
            font-size: 13px;
            font-weight: 100;
            color: #009e73;
            margin-top: 20px;
          }

          h4 {
            margin-top: -6px;
            font-size: 13px;
            font-weight: 100;
          }

          h5 {
            font-size: 13px;
            font-weight: 100;
          }
        }

      }
  }
}
