
.ProjectIndexUL {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;

  li {
    width: 400px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 35px;

    .ProjectItemView {
        min-width: 300px;
        width: 100%;
        border: solid lightgrey 1px;
        height: 500px;
        align-content: center;

        img {
          height: 45%;
          width: 100%;
          object-fit: cover;
        }

      }
  }
}
