.signup-form-container {
  display: flex;
  flex-direction: column;
  background: white;
  width: 390px;
  height: 650px;
  margin: 0 auto;
  margin-top: 55px;
  border: solid #f0f0f0 0.5px;
  align-items: center;

  ul {
    // position: fixed;
    margin-top: 20px;

    li {
      font-size: 14px;
      color: red;
    }
  }

  h6 {
    font-size: 14px;
    font-weight: lighter;
    border-top: solid #f0f0f0 1px;
    border-bottom: solid #f0f0f0 1px;
    width: 355px;
    text-align: center;
  }

  button {
  	background-color: #39569a;
  	border-color: $dark-blue;
    color: white;
  	font-weight: normal;
  	transition: background-color 0.3s;
  	font-size: 11px;
  	text-align: center;
    width: 355px;
    height: 45px;
    margin-top: -25px;
    font-size: 14px;
    }

  h3 {
    font-size: 34px;
    font-weight: lighter;
    // padding-right: 240px;
    position: relative;
    margin-bottom: -25px;
  }

  .sign-form-box {
    display: inline-block;
    text-align: center;
    width: inherit;
    margin-top: -20px;

    input {
      border: solid #f0f0f0 1.5px;
      width: 313px;
      padding-left: 20px;
      padding-right: 20px;
      height: 42px;
      margin-top: 25px;
      text-align: left;
      font-size: 15px;
    }

    input:focus {
      border: solid #009e74 1px;
    }

    .session-submit {
    	background-color: #009e74;
    	border-color: $dark-blue;
      color: white;
    	font-weight: normal;
    	// border-radius: 3px;
    	transition: background-color 0.3s;
    	font-family: $sans-serif;
    	font-size: 14px;
    	text-align: center;
      width: 355px;
      height: 45px;
      border: 0px;
      margin-top: 30px;
      padding-left: 0px;
      padding-right: 0px;
      }

  }

  .signup_link_login {
    position: relative;
    top: 7%;
    transform: translateY(-93%);
    font-size: 15px;
    // border-bottom: solid #f0f0f0 1px;
    width: 355px;
    display: flex;
    justify-content: center;

    a {
      font-weight: bolder;
      color: blue;
      margin-left: 5px;
    }
  }

  .sign-form-box {
    padding-top: 30px;
    font-size: 15px;

    a {
      font-weight: bolder;
      color: blue;
    }
  }

}
